@tailwind base;
@tailwind components;
@tailwind utilities;

.radial{
  background: rgb(123, 255, 22);
background: radial-gradient(circle, rgb(124, 255, 24) 0%, rgba(0,0,0,1) 33%);
}

.neu{
  background: linear-gradient(145deg, #111,#111);
border-radius: 1%;
box-shadow: 1.91px 1.91px 3px #202020, -1.91px -1.91px 3px #202020;
}

.mesh-bg{
  
  background: linear-gradient(-45deg, #c02e01, #ff0e6b, #004b67, #005944);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


